.clear-both {
  clear: both;
}

#highlight-contact {
  float: right;
  font-weight: bold;
  text-align: center;
  background-color: #ddd;
  padding: 0.7em;
  border-radius: 0.7em;
}

img[alt=Markus\ Schulte\ at\ LinkedIn] {
  width: 4em;
}

#markus-portrait {
  display: flex;
  justify-content: center;
  align-items: center;
}

img[alt=Markus\ Schulte] {
  width: 16em;
  clip-path: circle(8em at center);
  margin-right: 5em;
}

@media (orientation: portrait) {
  #markus-portrait {
    text-align: center;
    display: block;
    clear: both;
  }

  img[alt=Markus\ Schulte] {
    float: none;
    margin-right: 0;
    margin-bottom: 0;
  }
}